# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Python (backend provável)
__pycache__/
*.pyc
.venv/
venv/
.env

# Node (frontend provável)
node_modules/
dist/
build/
.env.local

# Logs
*.log
